.main {
    padding: 10rem 0;
}

.uv_img {
    height: 24rem;
    padding: 1.6rem;
    box-shadow: 0 0 1rem rgba(200, 200, 200, .8);
    border-radius: .8rem;
    margin: 0 1rem;
    cursor: pointer;
    transition: .3s linear all;
    transform: scale(1);
}
.uv_img:hover {
    transform: scale(1.2);
}
.main .proposal {
    margin: 4.2rem auto 0;
    width: 92rem;
    border-radius: .8rem;
    box-shadow: 0 0 1rem rgba(200, 200, 200, .8);
    padding: 2.4rem 1.6rem 4rem;
}

.prop_title {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0 1.2rem;
}
.prop_txt {
    font-size: 1.5rem;
    line-height: 1.6;
}

.prop_img {
    width: 100%;
    margin: 3.2rem 0 0;
    border-radius: .8rem;
}



@media (max-width: 1200px) {
    .main {
        display: block !important;
    }
    .uv_img {
        height: 10rem;
        margin: 0 .8rem;
    }
}